html, body {
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color: #ddeaff;
}

h1{
    text-align: center;
    color: #5a7299;
    margin-top: 20px;
}

.bodyDiv{
    margin-top: 160px;
}

.board{
    margin: 0 auto;
    vertical-align: center;
    height: 100%;
    width: 100%;
    background-color: #5a7299;
    color: #5a7299;
}

td {
    position: relative;
    padding: 5px 5px 5px 5px;
}

td .content{
    position: absolute;
    width: 25%;
    height: 25%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

td img{
    margin: 0;
    padding: 0;
    width: 70px;
    height: 70px;
    background-color: #6a9ced;
}

#restart{
    margin-top: 50px;
    position: absolute;
    top: 85%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.highscore{
    margin-top: 80px;
    position: absolute;
    top: 10%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}